@if (!string.IsNullOrEmpty(Password))
{
    <section class="view-password p-3">
        <article class="notification is-primary">
            <button @onclick="ClearPassword" class="delete"></button>
            <span>@Password</span>
        </article>
    </section>
}

@code {
    [Parameter] public string? Password { get; set; } = "";
    [Parameter] public EventCallback<string> PasswordChanged { get; set; }

    private void ClearPassword()
    {
        Password = string.Empty;
        PasswordChanged.InvokeAsync(string.Empty);
    }

}